

body {
  background-color: #FED0BB;
  margin: 2%;
}


h1 {
font-family: courier;
background-color: black;
color: #FED0BB;
text-align: center;

}

p {
  padding: 2%;
  color: white;
  background-color: #8C2F39;
}

img {
  width: 60%;
  border: white;
  text-align: center;
}
footer {
  background-color: black;
color: #FED0BB;
text-align: center;

}

#bmo {
  width: 20%;
}
